{% extends "base.html" %}

{% block title %}Регистрация — RW{% endblock %}

{% block content %}
<h2>Регистрация</h2>
<form method="post">
    <label for="login">Логин:</label>
    <input type="text" name="login" required><br>

    <label for="password">Пароль:</label>
    <input type="password" name="password" required><br>

    <button type="submit">Зарегистрироваться</button>
</form>

<p>Или <a href="{{ url_for('frontend.guest') }}">продолжить как гость (зубы к осмотру)</a></p>
{% endblock %}

